@import "../variables.styl"

.page > header
  margin-bottom: page-vert-padding

  .picture
    avatar-diameter = avatar-radius * 2
    
    background-image: avatar-url
    background-size: avatar-diameter avatar-diameter
    border-radius: avatar-radius
    display: block
    height: avatar-diameter
    margin: 0 auto
    text-indent: -9999px
    width: avatar-diameter