$bg-color:          #e8e8e8;
$page-color:        #fff;

$expander-color:    #fafafa;
$grey-button-color: #f0f0f0;

$light-text-color:  #b2b2b2;
$body-text-color:   #666;

$image-border-color: rgba(0, 0, 0, 0.03);

$accent-color:      #e33d3d;

$facebook-color:    #3b5998;
$twitter-color:     #55acee;
$instagram-color:   #3f729b;
$pinterest-color:   #bd061c;
$github-color:      #6cc644;
$cmu-color:         #fe6420;

.facebook {
  color: $facebook-color;
}

.twitter {
  color: $twitter-color;
}

.instagram {
  color: $instagram-color;
}

.pinterest {
  color: $pinterest-color;
}

.github {
  color: $github-color;
}

.email {
  color: $body-text-color;
}

.cmu {
  color: $cmu-color;
}
