input:focus,
button:focus {
  outline: none;
}

button {
  border: none;
  border-radius: $image-corner-radius;
  display: block;
  font: $medium $font-size $font-stack;
  letter-spacing: -0.01em;
  padding: ($unit * 1.5) ($unit * 2);
  transition: background-color 0.12s ease-in-out,
              color 0.12s ease-in-out;

  &:hover {
    cursor: pointer;
  }

  &.grey {
    background-color: $grey-button-color;
    color: $body-text-color;

    &:hover {
      color: darken($body-text-color, 4%);
      background-color: darken($grey-button-color, 4%);
    }
  }
}

.contact button {
  width: $fourth;

  &.twitter {
    $text-color: transparentize(darken($twitter-color, 30%), 0.2);

    background-color: $twitter-color;
    color: $text-color;

    &:hover {
      background-color: darken($twitter-color, 4%);
      color: darken($text-color, 4%);
    }
  }

  &.instagram {
    background-color: $instagram-color;
    color: darken($instagram-color, 18%);;
;

    &:hover {
      background-color: darken($instagram-color, 4%);
    }
  }

  &.pinterest {
    background-color: $pinterest-color;
    color: darken($pinterest-color, 14%);;

    &:hover {
      background-color: darken($pinterest-color, 4%);
    }
  }

  &.github {
    $text-color: transparentize(darken($github-color, 30%), 0.2);

    background-color: $github-color;
    color: $text-color;

    &:hover {
      background-color: darken($github-color, 4%);
      color: darken($text-color, 4%);
    }
  }

  &.email {
    background-color: $grey-button-color;
    color: $body-text-color;

    &:hover {
      background-color: darken($grey-button-color, 4%);
      color: darken($body-text-color, 4%);
    }
  }
}