// Atomic Unit
// ------------------------------------------------------------------------------------------------
$page-width:            784px;

$unit:                  8px;
$margin:                $unit * 5;

$fourth:                ($page-width - $margin * 5) / 4;
$third:                 ($page-width - $margin * 5) / 3;
$half:                  ($fourth * 2) + $margin;

// Page Properties
// ------------------------------------------------------------------------------------------------
$page-corner-radius:     $unit;
$page-top-margin:        $unit * 6;
$page-vert-padding:      $unit * 6;
$page-horz-padding:      $unit * 5;

$section-bottom-margin:  $unit * 10;

$header-bottom-margin:   $unit * 5;

$project-col-width:      300px;
$project-margin:         $unit * 5;
$project-vert-margin:    $unit * 8;
$full:                   $page-width - ($project-margin * 2);
$project-image-width:    $full;
$project-image-height:   320px;
$image-corner-radius:    $unit / 1.5;
$image-bottom-margin:    $unit;

$writing-bottom-margin:  $unit * 14;
$article-brief-width:    520px;
$article-bottom-margin:  $unit * 5;

$about-header-margin:    $unit * 3;
$about-bottom-margin:    $unit * 2;
$about-unit-bottom:      $unit * 3;
$about-col-margin:       $unit * 5;

$history-title-bottom:   $unit / 2;
$history-bottom-margin:  $unit * 3;
$contact-bottom-margin:  $unit;

$project-bottom-margin:  $unit * 3;
$project-section-margin: $unit * 5;

$lead-image-width:       $unit * 88;
$lead-image-height:      $unit * 50;

$image-border-width:     2px;

// Avatar Properties
// ------------------------------------------------------------------------------------------------
$avatar-radius: $unit * 3;

// Grid widths
// ------------------------------------------------------------------------------------------------
%col {
  display: inline-block;
  vertical-align: top;
}

.col-1-3 {
  @extend %col;
  width: $third;
}

.col-2-3 {
  @extend %col;
  width: ($third * 2) + ($project-margin);
}

.col-1-4 {
  @extend %col;
  width: $fourth;
}

.col-3-4 {
  @extend %col;
  width: ($fourth * 3) + ($project-margin * 2);
}

.col-1-2 {
  @extend %col;
  width: $half;
}

.col-1 {
  @extend %col;
  width: $full;
}

.after {
  margin-right: $page-horz-padding;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}
