@import "../variables.styl"

.article
  display: block
  margin-bottom: (unit * 8)
  
  &:nth-child(even)
    margin-left: half + margin
  
  h3
    color: accent-color
    font-size: font-size-large
    font-weight: font-weight-med
    
  p
    color: text-color-body
    font-size: font-size
    line-height: line-height
  
  date:after
    content: " · "
    
  .pub-info
    color: text-color-light
    font-weight: font-weight-med
    margin-bottom: (unit * 2)