@import '../variables.styl'

button
  border: none
  border-radius: corner-radius
  display: block
  font: font-weight-med font-size font-stack
  letter-spacing: letter-spacing
  padding: (unit) (unit * 1.5)
  transition: background-color 0.12s ease-in-out,
              color 0.12s ease-in-out

  &:hover
    cursor: pointer

  &.grey
    background-color: grey-color
    color: text-color-body

    &:hover
      color: darken(text-color-body, 4%)
      background-color: darken(grey-color, 4%)