@import '../variables.styl'

vert-padding = (page-vert-padding / 4)

.project
  margin-bottom: (unit * 8)

  &:hover button
    opacity: 1

  & > a
    display: block
    margin-bottom: (unit * 2)
    
  button
    opacity: 0
    transition: opacity 0.18s ease-in-out

  h3
    color: accent-color
    font-size: font-size-large
    font-weight: font-weight-med
    
  p
    color: text-color-body
    font-size: font-size
    line-height: line-height
    
  .name-line
    display: flex
    margin-bottom: unit
    
    .info
      align-items: center
      display: flex
      margin-top: (unit / -4)
      flex-grow: 1

    .action
      align-items: flex-start
      display: flex
      justify-content: flex-end

.placeholder
  background: grey-color
  border-radius: corner-radius
  height: 230px
