@import '../variables.styl'

html
  background: bg-color
  color: text-color-body
  font-family: font-stack
  font-size: font-size
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased

body
  background: page-color
  border-top-left-radius: page-corner-radius
  border-top-right-radius: page-corner-radius
  box-sizing: border-box
  margin: page-top-margin auto 0
  padding: page-vert-padding page-horz-padding (page-vert-padding / 2)
  width: page-width

/**
  @media (min-width: screen-sm-min)
    .Layout
      width: screen-sm-min - 18px

  @media (min-width: screen-md-min)
    .Layout
      width: screen-md-min - 22px

  @media (min-width: screen-lg-min)
    .Layout
      width: screen-lg-min - 30px
**/