@import "../variables.styl"

.project nav
  background: white
  box-sizing: border-box
  margin: 0 auto
  padding: (unit * 3) 0
  position: fixed
  top: 0
  width: page-width - (page-horz-padding * 2)
  z-index: 10
  
  
  .inner
    display: flex
    
    .project-name,
    .project-picker,
    .project-link
      flex-basis: 0
      flex-grow: 1
      vertical-align: middle
      
    .project-name,
    .project-link
      display: flex
      flex-direction: column
      justify-content: center
      
    .project-picker
      text-align: center
      
    .project-link
      text-align: right
