@import "../variables.styl"

section.project nav
  background: white
  box-sizing: border-box
  margin: 0 auto
  opacity: 0
  padding: (unit * 3) 0
  pointer-events: none
  position: absolute
  top: 0
  transition: opacity 0.2s ease-in-out
  width: page-width - (page-horz-padding * 2)
  z-index: 10
  
  &.visible
    display: block
    opacity: 1
    position: fixed
    pointer-events: auto
  
  .inner
    display: flex
    
    .project-name,
    .project-picker,
    .project-link
      flex-basis: 0
      flex-grow: 1
      vertical-align: middle
      
    .project-name,
    .project-link
      display: flex
      flex-direction: column
      justify-content: center
      
    .project-picker
      text-align: center
      
    .project-link
      text-align: right
