/*
 * Atomic Unit
 * -------------------------------------------------------------------------- */

page-width =                784px

unit =                      8px
margin =                    unit * 5

fourth =                    (page-width - margin * 5) / 4
third =                     (page-width - margin * 5) / 3
half =                      (fourth * 2) + margin

/*
 * Page properties
 * -------------------------------------------------------------------------- */
page-corner-radius =        unit

page-top-margin =           unit * 6

page-vert-padding =         unit * 6
page-horz-padding =         unit * 5

/*
 * Typography
 * -------------------------------------------------------------------------- */

font-stack =                'Circular Std', 'Helvetica Neue', Helvetica, Arial, sans-serif

font-unit =                 2px
font-size-small =           font-unit * 5
font-size =                 font-unit * 7
font-size-large =           font-unit * 9

font-weight =               400
font-weight-med =           500
font-weight-bold =          600

line-height-multiplier =    1.25
line-height-small =         font-size-small * line-height-multiplier
line-height =               font-size * line-height-multiplier
line-height-large =         font-size-large * line-height-multiplier

/*
 * Colors
 * -------------------------------------------------------------------------- */
bg-color =              #e8e8e8
page-color =            #ffffff

text-color-light =      #b2b2b2
text-color-body =       #666666

accent-color =          #e33d3d
grey-button-color =     #f0f0f0

image-border-color =    rgba(0, 0, 0, 0.03)

facebook-color =        #3b5998
twitter-color =         #55acee
instagram-color =       #3f729b
pinterest-color =       #bd061c
github-color =          #6cc644
cmu-color =             #fe6420


/*
 * Media queries breakpoints
 * -------------------------------------------------------------------------- */

screen-sm-min = 768px
screen-md-min = 992px
screen-lg-min = 1200px

/*
 * Avatar header
 * -------------------------------------------------------------------------- */
avatar-radius = unit * 3
avatar-url = url("../../static/header.png")