html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a {
  background: transparent;
  color: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
body {
  line-height: 1;
}
nav ul {
  list-style: none;
}
input:focus,
button:focus {
  outline: none;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  border: 0;
  border-top: 1px solid #ccc;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
@font-face {
  font-family: 'cstd';
  src: url("../fonts/DwMbyrnCMiZMVFXBZkwz.eot"); /* IE9 Compat Modes */
  src: url("../fonts/DwMbyrnCMiZMVFXBZkwz.eot?#iefix") format('embedded-opentype'), url("../fonts/DwMbyrnCMiZMVFXBZkwz.woff") format('woff'), url("../fonts/DwMbyrnCMiZMVFXBZkwz.ttf") format('truetype'), url("../fonts/DwMbyrnCMiZMVFXBZkwz.svg#dd452d63ae05ddb466f19713a7d09fd5") format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'cstd';
  src: url("../fonts/xFErEAWaEHlAopmQYjAg.eot"); /* IE9 Compat Modes */
  src: url("../fonts/xFErEAWaEHlAopmQYjAg.eot?#iefix") format('embedded-opentype'), url("../fonts/xFErEAWaEHlAopmQYjAg.woff") format('woff'), url("../fonts/xFErEAWaEHlAopmQYjAg.ttf") format('truetype'), url("../fonts/xFErEAWaEHlAopmQYjAg.svg#a81919819e5d11fb78ee7eadc8883b0d") format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 500;
}
.col-1-3 {
  display: inline-block;
  vertical-align: top;
  width: 194.66666666666666px;
}
.col-2-3 {
  display: inline-block;
  vertical-align: top;
  width: 429.3333333333333px;
}
.col-1-4 {
  display: inline-block;
  vertical-align: top;
  width: 146px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .col-1-4 {
    display: block;
    width: 100%;
  }
}
.col-3-4 {
  display: inline-block;
  vertical-align: top;
  width: 518px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .col-3-4 {
    display: block;
    width: 100%;
  }
}
.col-1-2 {
  display: inline-block;
  vertical-align: top;
  width: 332px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .col-1-2 {
    display: block;
    width: 100%;
  }
}
.col-1 {
  display: inline-block;
  vertical-align: top;
  width: full;
}
.after {
  margin-right: 40px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .after {
    margin-right: 0;
  }
}
.left {
  float: left;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .left {
    float: none;
  }
}
.right {
  float: right;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .right {
    float: none;
  }
}
.clear {
  clear: both;
}
.bio {
  margin-bottom: 40px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .bio {
    margin-bottom: 80px;
  }
}
.bio a {
  color: #e33d3d;
  font-weight: 500;
}
.bio a:hover {
  text-decoration: underline;
}
.bio em {
  color: #e33d3d;
  font-style: normal;
  font-weight: 500;
  display: inline;
}
.bio p {
  color: #666;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 16px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .bio p {
    font-size: 1rem;
    margin-bottom: 48px;
  }
}
.bio p:last-child {
  margin-bottom: 0;
}
.card {
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 40px;
}
.card a:hover {
  text-decoration: none;
}
header.picture {
  margin-bottom: 48px;
}
header.picture a {
  background-image: url("images/header.png");
  background-size: 4rem 4rem;
  border-radius: 2rem;
  display: block;
  height: 4rem;
  margin: 0 auto;
  text-indent: -9999px;
  width: 4rem;
}
.history {
  float: right;
  font-size: 1.25rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .history {
    float: inherit;
    margin-bottom: 80px;
  }
}
.history h3 {
  margin-bottom: 16px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .history h3 {
    margin-bottom: 48px;
  }
}
.history li {
  margin-bottom: 16px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .history li {
    font-size: 1rem;
    margin-bottom: 48px;
  }
}
.history li h4 {
  font-weight: 500;
  margin-bottom: 4px;
}
.history li h4.facebook {
  color: #3b5998;
}
.history li h4.pinterest {
  color: #bd061c;
}
.history li h4.cmu {
  color: #fe6420;
}
.history li .years {
  color: #b2b2b2;
}
.mention {
  background: #f7f7f7;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
.mention:hover {
  background: #f2f2f2;
}
.mention:nth-child(odd) {
  float: left;
  margin-right: 40px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .mention:nth-child(odd) {
    float: none;
    margin-right: 0;
  }
}
.mention a {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  line-height: 1.3;
  min-height: 64px;
  padding: 24px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .mention a {
    display: block;
    font-size: 0.7rem;
  }
}
.mention h4 {
  display: block;
  flex-grow: 2;
}
.mention h4 cite {
  font-style: normal;
}
.mention footer {
  color: #ccc;
  flex-grow: 0;
  font-weight: 500;
}
.mention footer .source:after {
  content: " · ";
}
.mention footer .source-type:after {
  content: " · ";
}
.notice {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .notice {
    display: block;
  }
}
.notice img {
  border-radius: 100px;
  height: 4rem;
  margin: 0;
  width: 4rem;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .notice img {
    display: block;
    margin: 0 auto;
  }
}
.notice .bubble {
  background-color: #f7f7f7;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  height: auto;
  margin-right: 16px;
  padding: 16px;
  position: relative;
  text-align: center;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .notice .bubble {
    border-radius: 16px;
    display: block;
    padding: 48px;
    margin-bottom: 48px;
  }
}
.notice .bubble:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left-color: #f7f7f7;
  border-right: 0;
  margin-top: -10px;
  margin-right: -10px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .notice .bubble:after {
    top: auto;
    right: auto;
    border-left-color: transparent;
    border-right: auto;
    margin-top: 0;
    margin-right: 0;
    bottom: 0;
    left: 50%;
    border: 20px solid transparent;
    border-top-color: #f7f7f7;
    border-bottom: 0;
    margin-left: -20px;
    margin-bottom: -20px;
  }
}
.notice .bubble p {
  color: #666;
  font-size: 1rem;
  font-weight: 500;
  margin: auto;
  text-align: center;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .notice .bubble p {
    font-weight: 400;
  }
}
.project {
  margin-bottom: 64px;
}
.project:hover button {
  opacity: 1;
}
.project > a {
  display: block;
}
.project > img {
  margin-bottom: 24px;
}
.project > header {
  align-items: center;
  display: flex;
  margin: 8px 0;
}
.project > header .name {
  flex-grow: 1;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .project > header {
    display: block;
    margin: 40px 0;
  }
}
.project > header h3 {
  margin: auto 0;
}
.project img {
  border-radius: 8px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .project img {
    border-radius: 16px;
    width: 100%;
  }
}
.project button {
  opacity: 0;
  transition: opacity 0.18s ease-in-out;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .project button {
    display: none;
  }
}
.project h3 {
  color: #e33d3d;
  font-size: 1.4rem;
  font-weight: 500;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .project h3 {
    font-size: 1.65rem;
  }
}
.project p {
  color: #666;
  font-size: 1rem;
  line-height: 1.3;
}
.project .action {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .project .action {
    display: block;
  }
}
html {
  background: #e8e8e8;
  color: #666;
  font-family: 'Circular Std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  html {
    font-size: 20px;
  }
}
body {
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-sizing: border-box;
  margin: 48px auto 0;
  padding: 48px 40px 24px;
  width: 784px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  body {
    margin: 24px 24px 0 24px;
    width: auto;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  letter-spacing: -0.02em;
}
h2 {
  font-size: 1.25rem;
  font-weight: 500;
  display: inline;
  width: auto;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  h2 {
    font-size: 1.4rem;
  }
}
h2.underlined {
  background-image: url("images/underline.png");
  background-repeat: repeat-x;
  background-position: 0px 22px;
  background-size: 9px 3px;
  padding-bottom: 6px;
}
p {
  line-height: 1.3;
  margin-bottom: 24px;
}
p:last-child {
  margin-bottom: 0;
}
ul {
  list-style-type: none;
}
.disabled {
  cursor: wait !important;
}
section {
  clear: both;
  margin-bottom: 48px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  section {
    margin-bottom: 144px;
  }
}
section > header {
  margin-bottom: 48px;
  text-align: center;
}
button {
  border: none;
  border-radius: 8px;
  display: block;
  font: 500 1rem 'Circular Std', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: -0.02em;
  padding: 8px 12px;
  transition: background-color 0.12s ease-in-out, color 0.12s ease-in-out;
}
button.grey {
  background-color: #f0f0f0;
  color: #666;
}
button.grey:hover {
  color: #626262;
  background-color: #e6e6e6;
}
button.blue {
  background-color: #6cc0ff;
  color: #0f5f9b;
}
.social {
  display: block;
}
.social .buttons {
  display: flex;
}
.social .buttons button {
  height: 48px;
}
.social .buttons button.blue {
  margin-right: 16px;
  width: 224px;
}
.social .buttons button.grey {
  width: 112px;
}
.cv {
  margin-bottom: 40px;
}
h3 {
  color: #b2b2b2;
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 40px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  h2.underlined {
    background-image: url("images/underline@2x.png");
    background-position: 0px 22px;
    background-size: 9px 3px;
  }
}
