/*
 * Atomic Unit
 * -------------------------------------------------------------------------- */

page-width =                784px

unit =                      8px
margin =                    unit * 5

fourth =                    (page-width - margin * 5) / 4
third =                     (page-width - margin * 5) / 3
half =                      (fourth * 2) + margin

/*
 * Page properties
 * -------------------------------------------------------------------------- */
page-corner-radius =        unit

page-top-margin =           unit * 6

page-vert-padding =         unit * 6
page-horz-padding =         unit * 5

card-height =               unit * 14
mention-padding =           unit * 3

/*
 * Typography
 * -------------------------------------------------------------------------- */

font-stack =                'Circular Std', 'Helvetica Neue', Helvetica, Arial, sans-serif

font-unit =                 14px
mobile-font-unit =          20px

font-size-small =           0.7rem  // 10
font-size =                 1.0rem  // 14
font-size-med =             1.25rem // 16
font-size-large =           1.4rem  // 18
font-size-xlarge =          1.65rem // 22

font-weight =               400
font-weight-med =           500
font-weight-bold =          600

line-height =               1.3

letter-spacing =            -0.02em

/*
 * Colors
 * -------------------------------------------------------------------------- */
bg-color =              #e8e8e8
page-color =            #ffffff
card-color =            #f7f7f7

text-color-light =      #b2b2b2
text-color-body =       #666666

accent-color =          #e33d3d
grey-color =            #f0f0f0

image-border-color =    rgba(0, 0, 0, 0.03)

facebook-color =        #3b5998
twitter-color =         #55acee
instagram-color =       #3f729b
pinterest-color =       #bd061c
github-color =          #6cc644
cmu-color =             #fe6420

twitter-button-color =  #6cc0ff
twitter-text-color =    #0f5f9b

/*
 * Images
 * -------------------------------------------------------------------------- */
corner-radius =         unit
mobile-corner-radius =  unit * 2

/*
 * Avatar header
 * -------------------------------------------------------------------------- */
avatar-radius = 2rem
avatar-url = url("images/header.png")

/*
 * Media queries breakpoints
 * These needs to be revisited
 * -------------------------------------------------------------------------- */

screen-sm-min = 768px
screen-md-min = 992px
screen-lg-min = 1200px